# Ignore everything
*

# But not these files...
!/.gitignore

!*.go
!go.sum
!go.mod
!*.py
!*.sh
!*.tml
!*.toml

!api.yml
!*.proto

!README.md
!LICENSE

# !Makefile

# ...even if they are in subdirectories
!*/